.titre {
  padding: 5px;
  font-family: 'Permanent Marker', cursive;
}


.alerte, .messageAlerte{
  color: red;

}

.messageInfo {
  color: green
}


.saisie {
  color: blue;
}


.statut {
  width: 40px;
}
