<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail slot="start">
      <ion-img src="assets/images/logo.svg" class="titre"></ion-img>
    </ion-thumbnail>
    <ion-title><span class="titre">Bienvenue {{ Prenom }} {{ Nom }} - Les abonnés</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="book">
  <ion-grid>
    <ion-row [routerLink]="['/rechercheabonne']">
      <ion-col  size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
        <div id="it1" class="item">
          <div class="contenu">Rechercher</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row [routerLink]="['/ajouterabonne']">
      <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
        <div id="it2" class="item">
          <div class="contenu">Ajouter</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row [routerLink]="['/modifierabonne']">
      <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
        <div id="it3" class="item">
          <div class="contenu">Modifier</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row [routerLink]="['/supprimerabonne']">
      <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
        <div id="it4" class="item">
          <div class="contenu">Supprimer</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row (click)="revenir()">
      <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
        <div id="it5" class="item">
          <div class="contenu">Terminer</div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</div>
</ion-content>

