<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail slot="start">
      <ion-img src="assets/images/logo.svg" class="titre"></ion-img>
    </ion-thumbnail>
    <ion-title><span class="titre">Bienvenue</span></ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
  <div class="book">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <div id="it1" class="item">
          <div class="contenu">Rechercher</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <div id="it2" class="item">
          <div class="contenu">Contact</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <div id="it3" class="item">
          <div class="contenu">Se connecter</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div id="it4">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>

